.DS_Store # mac image icons or something like that

*.o
*.a

*~      # emacs temp files
.*.swp  # vim temp files

# autotools files

aclocal.m4
autom4te.cache
Makefile
.deps
config.log
config.status
stamp-h1
config.h
config.h.in~
